@using nexRemoteFree.Server.Components 
@using nexRemoteFree.Server.Auth 
@inherits LayoutComponentBase

<AuthorizeView Policy="@TwoFactorRequiredRequirement.PolicyName">
    <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>

                <ToastHarness />

                <ModalHarness />
            </div>
    </Authorized>
    <NotAuthorized>
        <div class="container mt-5">
            <h3>Uwierzytelnianie 2FA wymagana</h3>

            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <p>Uwierzytelnianie 2FA jest wymagane.  Kliknij przycisk poniżej aby skonfigurować swoją aplikację.</p>
                    <p>
                        <a href="/Identity/Account/Manage/TwoFactorAuthentication" class="btn btn-primary">Włącz 2FA</a>
                    </p>
                </div>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>
