@page "/"
@using nexRemote.Server.Services
@using nexRemote.Shared.Models
@namespace nexRemote.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IDataService DataService
@inject IApplicationConfig AppConfig

@{
    Layout = null;
    var user = DataService.GetUserByNameWithOrg(User?.Identity?.Name);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=550, user-scalable=no" />
    <title>nex-Remote</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="nex-Remote_Server.styles.css" rel="stylesheet" />
    <script src="~/interop.js"></script>

    @if (user is nexRemoteUser)
    {

        switch (user.UserOptions.Theme)
        {
            case nexRemote.Shared.Enums.Theme.Light:
                <link rel="stylesheet" href="~/css/Themes/yeti.min.css" />
                <link rel="stylesheet" href="~/css/Themes/yeti.custom.css" asp-append-version="true" />
                break;
            case nexRemote.Shared.Enums.Theme.Dark:
                <link rel="stylesheet" href="~/css/Themes/darkly.min.css" />
                <link rel="stylesheet" href="~/css/Themes/darkly.custom.css" asp-append-version="true" />
                break;
            default:
                break;
        }
    }
    else
    {
        if (AppConfig.Theme == nexRemote.Shared.Enums.Theme.Light)
        {
            <link rel="stylesheet" href="~/css/Themes/yeti.min.css" />
            <link rel="stylesheet" href="~/css/Themes/yeti.custom.css" asp-append-version="true" />
        }
        else
        {
            <link rel="stylesheet" href="~/css/Themes/darkly.min.css" />
            <link rel="stylesheet" href="~/css/Themes/darkly.custom.css" asp-append-version="true" />
        }
    }

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Wystąpił błąd. System musi zostać przeładowany.
        </environment>
        <environment include="Development">
            Wystąpił niespodziewany wyjątek. Sprawdź debugger przeglądarki.
        </environment>
        <a href="" class="reload">Przeładuj</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
