@page "/about"

<h3>O Systemie nex-Remote</h3>

<p>
    WWW: <a href="https://nex-it.pl">https://nex-it.pl</a>
</p>
<p>
    Kontakt:  <a href="https://nex-it.pl/kontakt/">https://nex-it.pl/kontakt/</a>
</p>
<p>
    Licencje Open Source: <a href="/credits">Link</a>
</p>
<p>
    Version: @if (System.IO.File.Exists("Remotely_Server.dll"))
    {
        <span>@System.Diagnostics.FileVersionInfo.GetVersionInfo("Remotely_Server.dll").FileVersion.ToString()</span>
    }
    else
    {
        <span>1.0.0.0</span>
    }

</p>
