@page "/downloads"
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging 

@inject AuthenticationStateProvider AuthProvider
@inject IDataService DataService
@inject UserManager<nexRemoteFreeUser> UserManager
@inject IWebHostEnvironment HostEnv
@inject NavigationManager NavManager
@inject ILogger<Downloads> Logger 

<div class="row mb-3">
    <h4>nex-RemoteFree - Portable</h4>
    <div class="text-info col-sm-12 pl-0 mb-2">
        Przenośna wersja programu nex-RemoteFree.
    </div>
    <div class="col-sm-6 mb-3">
        <strong>Windows (64-Bit)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/WindowsDesktop-x64/@_organizationId">Windows EXE</a>
        </p>
    </div>
    <div class="col-sm-6">
        <strong>Windows (32-Bit)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/WindowsDesktop-x86/@_organizationId">Windows EXE</a>
        </p>
    </div>
    <div class="col-sm-6 mb-3">
        <strong>Linux 64-Bit</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/UbuntuDesktop/@_organizationId">Ubuntu Executable</a>
        </p>
    </div>
    @*<div class="col-sm-6 mb-3">
        <strong>macOS x64 (10.12 - 10.15)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/MacOS-x64/@_organizationId">macOS x64 Executable</a>
        </p>
        <strong>macOS arm64 (11.01)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/MacOS-arm64/@_organizationId">macOS arm64 Executable</a>
        </p>
    </div>*@
</div>


<div class="row mb-3">
    <h4>nex-RemoteFree - Instalacja</h4>
    <div class="text-info col-sm-12 pl-0 mb-2">
        Instalator programu nex-RemoteFree.
    </div>

    @if (!_isServerUrlEmbedded)
    {
        @*<div class="col-sm-12">
            <AlertBanner Message="Must be built from source to target specific server URL." StatusClass="warning" />
        </div>*@
    }


    <div class="col-sm-6 mb-3">
        <strong>Windows (64-Bit)</strong>
        @*<p>
            <small>Note: Only the default organization's branding will apply to these.</small>
        </p>*@
        <p>
            <a target="_blank" href="/Content/Win-x64/ClickOnce/setup.exe">Windows Installer</a>
        </p>
    </div>
    <div class="col-sm-6">
        <strong>Windows (32-Bit)</strong>
        @*<p>
            <small>Note: Only the default organization's branding will apply to these.</small>
        </p>*@
        <p>
            <a target="_blank" href="/Content/Win-x86/ClickOnce/setup.exe">Windows Installer</a>
        </p>
    </div>

</div>

<div class="row">
    <h4>nex-RemoteFree - Host</h4>
    <div class="text-info col-sm-12 pl-0 mb-2">
        Instalacja wykonywana przez administratora systemu.
    </div>

    @if (!_isAuthenticated)
    {
        <div class="col-sm-6 mb-3">
            <h6>Usługi Informatyczne"nex-IT" Jakub Potoczny.</h6>
        </div>

    }
    else
    {
        <div class="col-sm-6 mb-3">
            <strong>Windows 10 / 8.1 / 7 (64-Bit and 32-Bit)</strong>
            <p>
                <small>Note: Akceleracja GPU i Powershell Core jest niedostępny w Windows 7.</small>
            </p>
            <p>
                <a target="_blank" href="/API/ClientDownloads/WindowsInstaller">Windows Instalator (x64/x86)</a>
                <br />
                <a target="_blank" href="/Content/nex-RemoteFree-Win10-x64.zip">Windows x64 Pliki</a>
                <br />
                <a target="_blank" href="/Content/nex-RemoteFree-Win10-x86.zip">Windows x86 Pliki</a>
            </p>

            <p>
                <div class="small">Przykład instalacji - Silent:</div>
                
                <code class="label label-default small">
                    nex-RemoteFree.exe
                    -install
                    -quiet
                    -organizationid "e979e953-375f-4373-802f-655fb63aeb0c"
                    -serverurl "https://remote.nex-it.pl"
                </code>
            </p>
            <p>
                <div class="small">Przykład deinstalacji - Silent:</div>

                <code class="label label-default small">nex-RemoteFree.exe -uninstall -quiet</code>
            </p>
            <p>
                <div class="small">Przykład instalacji - Lokalnie:</div>
               
                <code class="label label-default small">
                    nex-RemoteFree.exe
                    -install
                    -quiet
                    -organizationid "e979e953-375f-4373-802f-655fb63aeb0c"
                    -serverurl "https://remote.nex-it.pl"
                    -path "[path]\nex-RemoteFree-Win10-x64.zip"
                </code>
            </p>
            <p>
                <div class="small">Wszystkie Opcje:</div>
                
                <code class="label label-default small">
                    nex-RemoteFree_Installer.exe -install -quiet -supportshortcut
                    -organizationid "e979e953-375f-4373-802f-655fb63aeb0c"
                    -serverurl "https://remote.nex-it.pl"
                    -devicegroup "Grupa"
                    -devicealias "Klient - ?"
                    -deviceuuid "eebb4d87-5459-4976-989e-a7876dffc69c"
                </code>
            </p>
        </div>

        <div class="col-sm-6 mb-3">
            <strong>Linux 64-Bit</strong>
            <p>
                <a target="_blank" href="/API/ClientDownloads/UbuntuInstaller-x64">Ubuntu x64 Bash Installer</a>
                <br />
                <a target="_blank" href="/API/ClientDownloads/ManjaroInstaller-x64">Manjaro x64 Bash Installer</a>
                <br />
                <a target="_blank" href="/Content/nex-RemoteFree-Linux.zip">Linux x64 Files Only</a>
            </p>
            <p>
                <div class="small">Przykład Instalacji:</div>
                
                <code class="label label-default small">sudo [path]/Install-Ubuntu-x64.sh</code>
            </p>
            <p>
                <div class="small">Przykład Instalacji - Lokalnie:</div>
              
                <code class="label label-default small">sudo [path]/Install-Ubuntu-x64.sh --path [path]/nex-RemoteFree-Linux.zip</code>
            </p>
            <p>
                <div class="small">Deinstalacja:</div>

                <code class="label label-default small">sudo [path]/Install-Ubuntu-x64.sh --uninstall</code>
            </p>
        </div>

        <div class="col-sm-6 mb-3">
            <strong>macOS x64 (10.12 - 10.15)</strong>
            <p>
                <a target="_blank" href="/API/ClientDownloads/MacOSInstaller-x64">macOS x64 Bash Installer</a>
                <br />
                <a target="_blank" href="/Content/nex-RemoteFree-MacOS-x64.zip">macOS x64 Files Only</a>
            </p>

            @*<strong>macOS arm64 (11.01)</strong>
        <p>
            <a target="_blank" href="/API/ClientDownloads/MacOSInstaller-arm64">macOS arm64 Bash Installer</a>
            <br />
            <a target="_blank" href="/Content/nex-RemoteFree-MacOS-arm64.zip">macOS arm64 Files Only</a>
        </p>*@

            <p>
                <div class="small">Przykład Instalacji:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-x64.sh</code>
            </p>
            <p>
                <div class="small">Przykład Instalacji - Lokalnie:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-x64.sh --path [path]/nex-RemoteFree-MacOS-x64.zip</code>
            </p>
            <p>
                <div class="small">Przykład Deinstalacji:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-x64.sh --uninstall</code>
            </p>
        </div>
    }

</div>

@code {
    private string _organizationId;
    private bool _isServerUrlEmbedded;
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        _isAuthenticated = authState.User.Identity.IsAuthenticated;

        if (_isAuthenticated)
        {
            var currentUser = await DataService.GetUserAsync(authState.User.Identity.Name);
            _organizationId = currentUser.OrganizationID;
        }
        else
        {
            _organizationId = (await DataService.GetDefaultOrganization())?.ID;
        }

        var appFilePath = System.IO.Path.Combine(
            HostEnv.WebRootPath,
            "Content",
            "Win-x64",
            "ClickOnce",
            "nex-RemoteFree_Desktop.application");

        try
        {
            await ClickOnceMiddleware.AppFileLock.WaitAsync();
            var appContent = await System.IO.File.ReadAllTextAsync(appFilePath);
            _isServerUrlEmbedded = appContent.Contains(NavManager.BaseUri.TrimEnd('/'));
        }
        catch (Exception ex)
        {
            Logger.LogWarning(ex, "Error while checking ClickOnce file.");
        }
        finally
        {
            ClickOnceMiddleware.AppFileLock.Release();
        }
    }
}