@page
@model Remotely.Server.Pages.InviteModel
@{
    ViewData["Title"] = "Invite";
}
<h3>Zaproszenie do Organizacji</h3>
<hr />
<div class="row">
    <div class="col-sm-12">
        @if (Model.Success)
        {
            <h5>Congratulations!</h5>
            <p class="text-info">
                Udało Ci się dołączyć do organizacji!
            </p>
        }

        else
        {
            <form method="post">
                <div>
                    <strong class="text-danger">UWAGA: </strong>
                    <p class="text-danger">Opuścisz obecną organizację i stracisz dostęp do jej agentów, chyba że ktoś będzie mógł Cię ponownie zaprosić.</p>
                    <p>Czy na pewno chcesz opuścić obecną organizację i dołączyć do tej?</p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.InviteID" hidden />
                <div class="form-group">
                    <button type="button" class="btn btn-secondary mr-3" onclick="location.assign(location.origin)">Anuluj</button>
                    <button type="submit" class="btn btn-danger">Potwierdź</button>
                </div>
            </form>
        }

    </div>
</div>
